.pickup__area__items-box__items
  = link_to item_path(item) do
    .pickup__area__items-box__items__photo
      - if item.item_state_id == 3
        .sold-item-big
          .sold-item--text-big SOLD
      = image_tag item.images.first.image,class: "top_image",alt: "商品画像"
    .pickup__area__items-box__items__body
      %h4.pickup__area__items-box__items__name
        = item.name
      .pickup__area__items-box__items__num
        .pickup__area__items-box__items__num__price.bold
          = converting_to_jpy(item.price)
        .pickup__area__items-box__items__num__likes
          %i.far.fa-heart
          %span
          = item.likes_count
      %p.pickup__area__items-box__items__tax (税込)
