%header.main-header
  .main-header__inner
    .main-header__inner__top
      .main-header__inner__top__left
        %a{:href => "https://www.mercari.com/jp/"}
          %img{:alt => "mercari", :height => "36", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?206587138", :width => "134"}
      = form_with url: items_path, method: :get, local: true ,html: {class: "main-header__inner__top__form"} do |f|
        .main-header__inner__top__form__search-field.back-silver
          = f.text_field :id, class: 'main-header__inner__top__form__search-field__text-field', placeholder: 'キーワードから探す'
          = button_tag type: 'submit', class: 'main-header__inner__top__form__search-field__search-btn' do
            %i.fa.fa-search
    .main-header__inner__nav-box
      .main-header__inner__nav-box__left
        %ul.category
          %li.category__list
            = link_to "カテゴリーから探す",new_item_path
            %ul.category__first-child
              %li.category__list__first
                = link_to "レディース",new_item_path
                %ul.category__second-child
                  %li.category__list__second
                    = link_to "トップス",new_item_path
                    %ul.category__third-child
                      %li.category__list__third
                        = link_to "Tシャツ/カットソー(半袖/袖なし)",new_item_path
                  %li.category__list__second
                    = link_to "ジャケット/アウター",new_item_path
              %li.category__list__first
                = link_to "メンズ",new_item_path
              %li.category__list__first
                = link_to "おもちゃ・ホビー・グッズ",new_item_path
          %li.category__list
            = link_to "ブランドから探す",new_item_path
            %ul.brand__first-child
              %li
                = link_to "シャネル",new_item_path
              %li
                = link_to "ナイキ",new_item_path
              %li
                = link_to "",new_item_path
      .main-header__inner__nav-box__right
        %ul.right
          %li
            = link_to "ログアウト", destroy_user_session_path, class: "login-link", method: :delete
          %li
            = link_to "ログイン",new_user_session_path, class: "login-link"
          %li
            = link_to "新規会員登録",new_user_registration_path, class: "registration-link"
          %li
            = link_to new_item_path do
              %img{:class => "avater-image", :src => "//static-mercari-jp-imgtr2.akamaized.net/images/member_photo_noimage_thumb.png", :width => "32"}
              %span マイページ
          %li
            = link_to new_item_path do
              %i.far.fa-bell
              %span お知らせ
          %li
            = link_to new_item_path do
              %i.fa.fa.fa-check
              %span やることリスト
