%header.main-header
  .main-header__inner
    .main-header__inner__top
      .main-header__inner__top__left
        %a{:href => root_path}
          = image_tag("abecari-logo.svg", class: "mercari-image")
      = form_with url: search_items_path, method: :get, local: true ,html: {class: "main-header__inner__top__form"} do |f|
        .main-header__inner__top__form__search-field.back-silver
          = f.text_field :keyword, class: 'main-header__inner__top__form__search-field__text-field', placeholder: 'キーワードから探す'
          = button_tag type: 'submit', class: 'main-header__inner__top__form__search-field__search-btn' do
            %i.fa.fa-search
    .main-header__inner__nav-box
      .main-header__inner__nav-box__left
        %ul.category
          %li.category__list
            = link_to "カテゴリーから探す",new_item_path
            %ul.category__first-child
              - @categorys.each do |category1|
                %li.category__list__first
                  = link_to "#{category1.name}",category_path(category1)
                  %ul.category__second-child
                    - Category.where(parent_id: category1.id).each do |category2|
                      %li.category__list__second
                        = link_to "#{category2.name}",category_path(category2)
                        %ul.category__third-child
                          - Category.where(parent_id: category2.id).each do |category3|
                            %li.category__list__third
                              = link_to "#{category3.name}",category_path(category3)
          %li.category__list
            = link_to "ブランドから探す",new_item_path
            %ul.brand__first-child
              - @brands.each do |brand|
                %li
                  = link_to "#{brand.name}",new_item_path
      .main-header__inner__nav-box__right
        %ul.right
          - if user_signed_in?
            %li
              = link_to "ログアウト", destroy_user_session_path, class: "login-link", method: :delete
            %li
              = link_to '/mypage' do
                = image_tag("avatar.jpg", class: "avater-image")
                %span マイページ
              %ul.mypage-box
                .profile-area
                  .profile-area__avatar
                    = image_tag("avatar.jpg")
                  .profile-area__nickname
                    %a{href: "/user/#{current_user.id}"} #{current_user.nickname}
                  .profile-area__list.middle-center
                    %li 評価:#{current_user.rates.count}
                    %li 出品数:#{current_user.items.count}
                  .profile-area__sales-point
                    %ul.center
                      %li
                        .sales.back-silver
                          .sales-left 売上金
                          .sales-right
                            %p ¥ 1,281,000
                            %i.fa.fa-angle-right
                      %li
                        .sales.back-silver
                          .sales-left ポイント
                          .sales-right
                            %p P 3000
                            %i.fa.fa-angle-right
                .mypage-nav
                  %ul
                    %li
                      .nav-left いいね！一覧
                      %i.fa.fa-angle-right
                    %li
                      .nav-left  出品した商品 - 出品中
                      %i.fa.fa-angle-right
                    %li
                      .nav-left  出品した商品 - 取引中
                      %i.fa.fa-angle-right
                    %li
                      .nav-left  出品した商品 - 売却済み
                      %i.fa.fa-angle-right
                    %li
                      .nav-left  購入した商品 - 取引中
                      %i.fa.fa-angle-right
                    %li
                      .nav-left  購入した商品 - 過去の取引
                      %i.fa.fa-angle-right
            %li
              = link_to new_item_path do
                %i.far.fa-bell
                %span お知らせ
            %li
              = link_to new_item_path do
                %i.fa.fa.fa-check
                %span やることリスト
          - else
            %li
              = link_to "ログイン", new_user_session_path, class: "login-link"
            %li
              = link_to "新規会員登録", new_user_registration_path, class: "registration-link"
