- if @rates.present?
  - @rates.each do |rate|
    - if rate.user_id == rate.trade.buyer_id
      %ul.abeshi-right-content__block__object
        = link_to "/user/#{rate.trade.user_id}" do
          %li
            .abeshi-right-content__block__object__link-box
              = image_tag "avatar.jpg", alt: "avatar",class: "abeshi-right-content__block--avatar"
              .abeshi-right-content__block__object__link-box__body.line21
                - if rate.rate == 1
                  %i.fas.fa-laugh.good
                - elsif rate.rate == 2
                  %i.fas.fa-meh.normal
                - elsif rate.rate == 3
                  %i.fas.fa-frown
                %p 出品者
                %br
                = rate.trade.user.nickname
                %br
                = rate.comment
                .abeshi-right-content__block__object__link-box__body--time
                  %i.fa.fa-history
                  = rate.created_at.strftime("%Y年%m月%d日 %H:%M")
              %i.fa.fa-angle-right.fa-2x
    - elsif rate.user_id == rate.trade.user_id
      %ul.abeshi-right-content__block__object
        = link_to "/user/#{rate.trade.buyer_id}" do
          %li
            .abeshi-right-content__block__object__link-box
              = image_tag "avatar.jpg", alt: "avatar",class: "abeshi-right-content__block--avatar"
              .abeshi-right-content__block__object__link-box__body.line21
                - if rate.rate == 1
                  %i.fas.fa-laugh.good
                - elsif rate.rate == 2
                  %i.fas.fa-meh.normal
                - elsif rate.rate == 3
                  %i.fas.fa-frown
                %p 購入者
                %br
                = rate.trade.buyer.nickname
                %br
                = rate.comment
                .abeshi-right-content__block__object__link-box__body--time
                  %i.fa.fa-history
                  = rate.created_at.strftime("%Y年%m月%d日 %H:%M")
              %i.fa.fa-angle-right.fa-2x
- else
  .nothing_box
    .nothing_box_sub
      %a{href: "", class: "thin_mercari"}
        %img{src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?819506670", class: "mercari_thin"}
    .nothing_box_text
      %p
        評価はまだありません
