- breadcrumb :mypage
.main-content
  = render 'modules/mypage-sidebar'

  .abeshi-right-content
    .abeshi-right-content__block
      %h4.abeshi-right-content__block__title.middle.bold.back-silver 出品した商品
      %ul.abeshi-right-content__block__tabs
        %li
          %h4
            = link_to "出品中", mypage_listing_path,class:"middle-center bold"
        %li.active
          %h4
            = link_to "取引中", mypage_in_progress_path,class:"middle-center bold"
        %li
          %h4
            = link_to "売却済み", mypage_completed_path,class:"middle-center bold"

      - if @items.present?
        - @items.each do |item|
          %ul.abeshi-right-content__block__object
            = link_to item_path(item.id) do
              %li
                .abeshi-right-content__block__object__link-box
                  =image_tag item.images.first.image, alt: "item-img",class: "right-content__block__object__link-box__img",width:"47.99px",height:"47.99px"
                  .abeshi-right-content__block__object__link-box__body
                    .abeshi-right-content__block__object__link-box__body--text #{item.name}
                    .abeshi-right-content__block__object__link-box__body__detail.middle
                      .abeshi-right-content__block__object__link-box__body__detail--count-box
                        %i.fa.fa-heart-o
                        .like-count #{item.likes_count}
                      .abeshi-right-content__block__object__link-box__body__detail--count-box
                        %i.fa.fa-comment-o
                        .comment-count 0
                      .status-red 発送待ち
                  %i.fa.fa-angle-right.fa-2x
