.main-content
  = render 'modules/mypage-sidebar'
  .new-content
    %h2.l-chapter-head.middle-center.bold 本人情報の登録
    .text-center.middle-center お客さまのあんしん・あんぜんな取引のため、本人情報のご登録をお願いしております。

    = form_with url: mypages_path, class: "l-single-inner", local: true do |form|
      .form-new-group
        %label.new.bold お名前
        %span.form-require.back-red.font-white 必須
        = form.text_field :first_name, class: "new input-default", required: true, placeholder: "例）阿部", value: ""
        = form.text_field :last_name, class: "new input-default", required: true, placeholder: "例）寛", value: ""

      .form-new-group
        %label.new.bold お名前カナ
        %span.form-require.back-red.font-white 必須
        = form.text_field :first_name_kana, class: "new input-default", required: true, placeholder: "例）アベ", value: ""
        = form.text_field :last_name_kana, class: "new input-default", required: true, placeholder: "例）ヒロシ", value: ""

      .form-new-group
        %label.new.bold{for: "post_number"} 郵便番号
        %span.form-arbitrary.font-white 任意
        = form.number_field :post_number, class: "new input-default", placeholder: "例）1234567", value:""

      .form-new-group
        %label.new.bold{for: "prefecture"} 都道府県
        %span.form-require.back-red.font-white 必須
        .select-wrap.new
          %i.fa.new.fa-chevron-down.prefec.font-gray
          = form.collection_select :prefecture_id,Prefecture.all, :id, :prefecture,{include_blank: "---"},{class: "exhibit_select"}

      .form-new-group
        %label.new.bold{for: "city"} 市区町村
        %span.form-require.back-red.font-white 必須
        = form.text_field :city,class: "new input-default",placeholder: "例）大阪市北区", value:""

      .form-new-group
        %label.new.bold{for: "address1_label"} 番地
        %span.form-require.back-red.font-white 必須
        = form.text_field :address,class: "new input-default",placeholder: "例）中崎西2−4−4", value:""

      .form-new-group
        %label.new.bold{for: "address2_label"} 建物名
        %span.form-arbitrary.font-white 任意
        = form.text_field :building,class: "new input-default",placeholder: "例）山本ビル梅田5階", value:""

      .form-new-group
        .class
          %label.new.bold{for: "birthday"} 生年月日
          %span.form-require.back-red.font-white 必須
        .birthday
          .select-wrap.new
            %i.fa.new.fa-chevron-down.warp.font-gray
            = form.select :birth_year, ["1993", "1994", "1995"], {prompt: "--"}, {class: "select-default2"}
            %span 年
          .select-wrap.new
            %i.fa.new.fa-chevron-down.warp.font-gray
            = form.select :birth_month, ["1", "2", "3","4","5","6","7","8","9","10","11","12"], {prompt: "--"}, {class: "select-default2"}
            %span 月
          .select-wrap.new
            %i.fa.new.fa-chevron-down.warp.font-gray
            = form.select :birth_day, ["1", "2", "3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30","31"], {prompt: "--"}, {class: "select-default2"}
            %span 日
        .form-info-text.font-gray ※出品されたことがある、本人情報未登録のお客さまもご対象となります。
      %button.btn-default.btn-red.new.font-white.back-red{type: "submit",required:true,url: "/mypage", method: :post} 登録する
      .form-new-group.text-right
        %p.edit-profile-box.middle
          %a{href: "/jp/help_center/article/423/", target: "_blank", class: "edit-profile"}本人情報の登録について
          %i.fa.new.fa-chevron-right.bottom
