- breadcrumb :mypage
.main-content
  = render 'modules/mypage-sidebar'

  .abeshi-right-content
    .abeshi-right-content__block
      %h4.abeshi-right-content__block__title.middle.bold.back-silver 購入した商品
      %ul.abeshi-right-content__block__tabs
        %li
          %h4
            = link_to "取引中", root_path,class:"middle-center bold"
        %li.active
          %h4
            = link_to "過去の取引", root_path,class:"middle-center bold"



      %ul.abeshi-right-content__block__object
        = link_to root_path do
          %li
            .abeshi-right-content__block__object__link-box
              =image_tag "avatar.jpg", alt: "item-img",class: "right-content__block__object__link-box__img",width:"47.99px",height:"47.99px"
              .abeshi-right-content__block__object__link-box__body
                .abeshi-right-content__block__object__link-box__body--text 【新品・送料込み】阿部寛
                .abeshi-right-content__block__object__link-box__body__detail.middle
                  .abeshi-right-content__block__object__link-box__body__detail--count-box
                    %i.fa.fa-heart-o
                    .like-count 50
                  .abeshi-right-content__block__object__link-box__body__detail--count-box
                    %i.fa.fa-comment-o
                    .comment-count 1000
                  .status-blue 出品中
              %i.fa.fa-angle-right.fa-2x

        = link_to root_path do
          %li
            .abeshi-right-content__block__object__link-box
              =image_tag "avatar.jpg", alt: "item-img",class: "right-content__block__object__link-box__img",width:"47.99px",height:"47.99px"
              .abeshi-right-content__block__object__link-box__body
                .abeshi-right-content__block__object__link-box__body--text 「阿部寛」を購入しました。取引が完了しました。
                .abeshi-right-content__block__object__link-box__body__detail.middle
                  .abeshi-right-content__block__object__link-box__body__detail--count-box
                    %i.fa.fa-heart-o
                    .like-count 50
                  .abeshi-right-content__block__object__link-box__body__detail--count-box
                    %i.fa.fa-comment-o
                    .comment-count 1000
                  .status-gray 取引完了
              %i.fa.fa-angle-right.fa-2x



        = link_to root_path do
          %li
            .abeshi-right-content__block__object__link-box
              =image_tag "avatar.jpg", alt: "item-img",class: "right-content__block__object__link-box__img",width:"47.99px",height:"47.99px"
              .abeshi-right-content__block__object__link-box__body
                .abeshi-right-content__block__object__link-box__body--text 【新品・送料込み】阿部寛
                .abeshi-right-content__block__object__link-box__body__detail.middle
                  .abeshi-right-content__block__object__link-box__body__detail--count-box
                    %i.fa.fa-heart-o
                    .like-count 50
                  .abeshi-right-content__block__object__link-box__body__detail--count-box
                    %i.fa.fa-comment-o
                    .comment-count 1000
                  .status-red 公開停止中
              %i.fa.fa-angle-right.fa-2x

        = link_to root_path do
          %li
            .abeshi-right-content__block__object__link-box
              =image_tag "avatar.jpg", alt: "item-img",width:"47.99px",height:"47.99px",class: ".abeshi-right-content__block__object__link-box__img"
              .sold-item
                .sold-item--text SOLD
              .abeshi-right-content__block__object__link-box__body
                .abeshi-right-content__block__object__link-box__body--text 【新品・送料込み】阿部寛
                .abeshi-right-content__block__object__link-box__body__detail.middle ¥5,000
              %i.fa.fa-angle-right.fa-2x
