%section.carousel
  .slider
    = image_tag 'banner-kusanagi.jpg'
    = image_tag 'banner-bokurano-heisei.jpg'
%section.pickup
  %h1.pickup__head.bold ピックアップカテゴリー
  %section.pickup__area
    .pickup__area__text-center
      = link_to "レディース新着アイテム",new_item_path
    .pickup__area__items-box
      - @items_for_woman.first(4).each do |item|
        = render partial: "modules/category-index", locals: { item: item }
    .pickup__view-all
      = link_to "すべての商品を見る",new_item_path
  %section.pickup__area
    .pickup__area__text-center
      = link_to "メンズ新着アイテム",new_item_path
    .pickup__area__items-box
      - @items_for_man.first(4).each do |item|
        = render partial: "modules/category-index", locals: { item: item }
    .pickup__view-all
      = link_to "すべての商品を見る",new_item_path
  %section.pickup__area
    .pickup__area__text-center
      = link_to "その他新着アイテム",new_item_path
    .pickup__area__items-box
      - @items_for_others.first(4).each do |item|
        = render partial: "modules/category-index", locals: { item: item }
    .pickup__view-all
      = link_to "すべての商品を見る",new_item_path
%section.pickup
  %h1.pickup__head.bold ピックアップブランド
  %section.pickup__area
    .pickup__area__text-center
      = link_to "DIV新着アイテム",new_item_path
    .pickup__area__items-box
      - @item.first(4).each do |item|
        = render partial: "modules/category-index", locals: { item: item }
    .pickup__view-all
      = link_to "すべての商品を見る",new_item_path
