.item__details
 %h2.item-name.bold
  = @item.name
 .item__details__main-content
  .item__details__main-content-boxes
   .item__details__main-content-boxes__subject.back-silver
    = image_tag @item.images.first.image,class: "main"
    .photos
     .small-photo
      - @item.images.each do |image|
       %img.sub{:src => image.image}/

   %table.item-detail-table
    %tr
     %th.back-silver 出品者
     %td
      = link_to @item.user.nickname, "https://www.mercari.com/jp/u/914459821/", class: "items-link_to"
      .user-rating
       .item-user-ratings
       %i.fas.fa-laugh
       %span 4
       .item-user-ratings
       %i.fas.fa-meh
       %span 8
       .item-user-ratings
       %i.fas.fa-frown
       %span 6
    %tr
     %th.back-silver カテゴリー
     %td
      .item-detail-table-sub-category
      %i.fa.fa-chevron-right.items-link_to
      = link_to "ジャケット/アウター", "https://www.mercari.com/jp/category/334/", class: "items-link_to"
      .item-detail-table-sub-sub-category
      %i.fa.fa-chevron-right.items-link_to
      = link_to "ダウンジャケット", "https://www.mercari.com/jp/category/318/", class: "items-link_to"
    %tr
     %th.back-silver ブランド
     %td
      = link_to @item.brand.name, "https://www.mercari.com/jp/brand/572/", class: "items-link_to"
    %tr
     %th.back-silver 商品のサイズ
     %td
      = @item.size.size
    %tr
     %th.back-silver 商品の状態
     %td
      = @item.condition.condition
    %tr
     %th.back-silver 配送料の負担
     %td
      = @item.postage.burden
    %tr
     %th.back-silver 配送の方法
     %td
      = @item.delivery_method.method
    %tr
     %th.back-silver 発送元地域
     %td
      = link_to @item.prefecture.prefecture, "https://www.mercari.com/jp/area/1/", class: "items-link_to"
    %tr
     %th.back-silver 発送日の目安
     %td
      = @item.delivery_day.day
 .item-price-box
  %span.item-price.bold
   = converting_to_jpy(@item.price)
  %span.item-tax (税込)
  %span.item-shipping-fee 送料込み
  - if @item.item_state_id == 3
   = link_to "売り切れました", root_path, class: "buy-btn status-gray",method: :get
  - elsif user_signed_in? && (@item.user_id != current_user.id) && @item.item_state_id == 1
   = link_to "購入画面へ進む", "/transaction/buy/#{@item.id}", class: "buy-btn, status-red",method: :get
  - unless user_signed_in? || @item.item_state_id == 3
   = link_to "購入画面へ進む", user_session_path, class: "buy-btn, status-red", method: :get

 .item-description
  %p.item-description-inner
   = @item.description
.item-edit__box
 .item-edit__box-main
 - if user_signed_in? && (@item.user_id == current_user.id)
  .item-edit__box__price.back-red.font-white
   = link_to "商品の編集", "https://www.mercari.com/jp/sell/edit/m80275965494/", method: :edit
  .item-edit__box__or or
  .item-edit__box__main-contents
   %button{:type => "submit", :class => "submit"}
    %span.font-white 出品を停止する
  .item-edit__box__main-contents__button
   %button{:type => "submit", :class => "submit", :id => "openModal"}
    %span.font-white この商品を削除する

 - else
  .item-button-container
   .item-button-container__left
    %button{:name => "like", :type => "button"}
     %i.far.fa-heart
     %span いいね！
     %span
      = @item.likes_count
    %button{:name => "report", :type => "button"}
     %i.far.fa-flag
     %span 不適切な商品の報告
   .item-button__right.items-link_to
    = fa_icon "lock"
    = link_to "あんしん・あんぜんへの取り組み", "https://www.mercari.com/jp/safe/description/"

  .item-edit__box__main-contents__message
  .message-content__box

.message-content__box
 .message-content__box__form
  %form.message-form{:method => "post"}
  %input{:type => "hidden"}
  %p.attention 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
  %input{:type => "hidden"}
  %input{:type => "hidden"}
  %textarea.text{:type => "text", :name => "body"}
  .message-sumit__details
   %button{:type => "submit", :class => "submit"}
    %span.font-white コメントする
.next_or_back
 .previous-product.items-link_to
  =fa_icon "chevron-left"
  = link_to "前の商品へ", "https://item.mercari.com/jp/"
 .next-product.items-link_to
  = link_to "次の商品へ", "https://item.mercari.com/jp/"
  = fa_icon "chevron-right"

.item-snsbox
 .sns
  .facebook
   %i.fab.fa-facebook-square
  .twitter
   %i.fab.fa-twitter-square
  .pinterest
   %i.fab.fa-pinterest-square

/ ユーザーの出品アイテム(一時コメントアウト中)
/ .items-show
/  .item-show__list
/   %section.items-link_to
/    = @item.user.nickname
/    さんの出品
/   .item-show__list__box
/    - @user.items.each do |item|
/     .item-show__list__box__in
/      = image_tag item.images.first.image
/      .item-show__list__box__in__detail
/       %h3
/        = item.name
/       .item-show__list__box__in__detail__container
/        .item-show__list__box__detail__box__in__container__price.bold
/         = converting_to_jpy(@item.price)
/         %i.far.fa-heart
/          = item.likes_count
/       %p.item-tax__position (税込)

%section#modalArea.modalArea
 .modalBg
 .modalWrapper
  .modalContents
   .kakunin.middle-center.bold 確認
   削除すると二度と復活できません。
   %br/
   削除する代わりに停止することもできます。
   %br/
   %br/
   本当に削除しますか？
   %br/
  .under-text-content.middle-center
   %li#closeModal.cancel-button
    =link_to 'キャンセル',method: :post
   %li.delete-product-button
    =link_to '削除する', "", method: :delete
