.item__details
 %h2.item-name.bold
  ビジネスバック
 .item__details__main-content
  .item__details__main-content-boxes
   .item__details__main-content-boxes__subject.back-silver
    %img.main{:src => "https://static-mercari-jp-imgtr2.akamaized.net/item/detail/orig/photos/m53954454102_1.jpg?1544316679"}/
    .photos
     .small-photo
      %img.sub{:src => "https://static-mercari-jp-imgtr2.akamaized.net/item/detail/orig/photos/m53954454102_1.jpg?1544316679"}/
     .small-photo
      %img.sub{:src => "https://static-mercari-jp-imgtr2.akamaized.net/item/detail/orig/photos/m53954454102_1.jpg?1544316679"}/
     .small-photo
      %img.sub{:src => "https://static-mercari-jp-imgtr2.akamaized.net/item/detail/orig/photos/m53954454102_1.jpg?1544316679"}/
     .small-photo
      %img.sub{:src => "https://static-mercari-jp-imgtr2.akamaized.net/item/detail/orig/photos/m53954454102_1.jpg?1544316679"}/

   %table.item-detail-table
    %tr
     %th.back-silver 出品者
     %td
      = link_to "kaeru", "https://www.mercari.com/jp/u/914459821/", class: "items-link_to"
      .user-rating
       .item-user-ratings
       %i.fas.fa-laugh
       %span 4
       .item-user-ratings
       %i.fas.fa-meh
       %span 8
       .item-user-ratings
       %i.fas.fa-frown
       %span 6
    %tr
     %th.back-silver カテゴリー
     %td
      = link_to "メンズ", "https://www.mercari.com/jp/category/31/",class: "items-link_to"
      .item-detail-table-sub-category
      %i.fa.fa-chevron-right.items-link_to
      = link_to "ジャケット/アウター", "https://www.mercari.com/jp/category/334/", class: "items-link_to"
      .item-detail-table-sub-sub-category
      %i.fa.fa-chevron-right.items-link_to
      = link_to "ダウンジャケット", "https://www.mercari.com/jp/category/318/", class: "items-link_to"
    %tr
     %th.back-silver ブランド
     %td
      = link_to "ザ ノースフェイス", "https://www.mercari.com/jp/brand/572/", class: "items-link_to"
    %tr
     %th.back-silver 商品のサイズ
     %td M
    %tr
     %th.back-silver 商品の状態
     %td 新品、未使用
    %tr
     %th.back-silver 配送料の負担
     %td 送料込み(出品者負担)
    %tr
     %th.back-silver 配送の方法
     %td らくらくメルカリ便
    %tr
     %th.back-silver 発送元地域
     %td
      = link_to "岐阜県", "https://www.mercari.com/jp/area/21/", class: "items-link_to"
    %tr
     %th.back-silver 発送日の目安
     %td 2~3日で発送
 .item-price-box
  %span.item-price.bold ￥300,000
  %span.item-tax (税込)
  %span.item-shipping-fee 送料込み
  = link_to "購入画面へ進む", "https://www.mercari.com/jp/transaction/buy", class: "buy-btn, status-red"
 .item-description
  %p.item-description-inner
  カバンです。
  あまり使っておらず、美品です。
  お仕事で使用されるカバンをお探しの方、いかがでしょうか？
 .item-button-container
  .item-button-container__left
   %button{:name => "like", :type => "button"}
    %i.far.fa-heart
     %span いいね！
     %span 5
   %button{:name => "report", :type => "button"}
    %i.far.fa-flag
     %span 不適切な商品の報告
  .item-button__right.items-link_to
   = fa_icon "lock"
   = link_to "あんしん・あんぜんへの取り組み", "https://www.mercari.com/jp/safe/description/"
 .item-detail-message
  .message-content__box
   %ul

.message-content__box
 .message-content__box__form
  %form.message-form{:method => "post"}
   %input{:type => "hidden"}
    %p.attention 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    %input{:type => "hidden"}
    %input{:type => "hidden"}
    %textarea.text{:type => "text", :name => "body"}
  .message-sumit__details
   %button{:type => "submit", :class => "submit"}
    %span.font-white コメントする
.next_or_back
 .previous-product.items-link_to
  =fa_icon "chevron-left"
  = link_to "前の商品へ", "https://item.mercari.com/jp/"
 .next-product.items-link_to
  = link_to "次の商品へ", "https://item.mercari.com/jp/"
  = fa_icon "chevron-right"
.item-snsbox
 .sns
  .facebook
   %i.fab.fa-facebook-square
  .twitter
   %i.fab.fa-twitter-square
  .pinterest
   %i.fab.fa-pinterest-square