- breadcrumb :mypage
.main-content
  = render 'modules/item-sidebar'
  - if @trade.transaction_state_id == 1
    .abeshi-right-content.center
      .abeshi-right-content__box.middle-center
        %h2.bold 取引画面
      .abeshi-right-content__box.middle-center.back-yellow
        .center.padbot
          .trade_box.middle-center
            %i.fa.fa-clock-o
            %p.font-red.bold 発送をお待ちください
          %br
          %p 出品者からの発送通知をお待ちください。
      %ul.flow
        %li 購入した後の流れ
        %li 出品者からのお届け先の確認について
      .message-content__box
        .message-content__box__form.margin0
          %form.message-form{:method => "post"}
          %input{:type => "hidden"}
          %p.attention 取引メッセージの内容は、必要に応じて事務局で確認しています
          %input{:type => "hidden"}
          %input{:type => "hidden"}
          %textarea.text{:type => "text", :name => "body"}
          .message-sumit__details
            %button{:type => "submit", :class => "submit"}
              %span.font-white 取引メッセージを送る
  - elsif @trade.transaction_state_id == 2
    .abeshi-right-content.center
      .abeshi-right-content__box.middle-center
        %h2.bold 取引画面
      .abeshi-right-content__box.middle-center.back-yellow
        .center.padbot
          .trade_box.middle-center
            %i.fas.fa-laugh
            %p.font-red.bold 受取評価をしてください
          %p 商品が発送されました。商品が到着したら、出品者の評価をしてください。
      %ul.flow
        %li 購入した後の流れ
        %li 購入者のよくある質問
      .abeshi-right-content__box.middle-center.margin0
        = form_with model: @rate, url: "/rate/#{@item.id}", local: true do |form|
          .rating-box
            .rate-box
              = form.radio_button :rate, 1, class: "brand", id: 'good'
              = form.label "", for: 'good'
              %i.fas.fa-laugh.rate-face.good
              %p 良い
            .rate-box
              = form.radio_button :rate, 2, class: "brand", id: 'normal'
              = form.label "", for: 'normal'
              %i.fas.fa-meh.rate-face.normal
              %p 普通
            .rate-box
              = form.radio_button :rate, 3, class: "brand", id: 'bad'
              = form.label "", for: 'bad'
              %i.fas.fa-frown.rate-face.bad
              %p 悪い
          %p 評価のコメントを記入しましょう。
          = form.text_area :comment, class: "comment-box", placeholder: "コメントはなくても構いませんが、お礼のメッセージなどを書くと喜ばれます。"
          = form.submit "評価を投稿する", class: "rate-action bold"
  - elsif @trade.transaction_state_id == 3
    .abeshi-right-content.center
      .abeshi-right-content__box.middle-center
        %h2.bold 取引画面
      .abeshi-right-content__box.middle-center.back-yellow
        .center.padbot
          .trade_box.middle-center
            %i.fa.fa-check
            %p.font-red.bold 受取評価をしました
          %p 出品者からの評価が終わると取引完了となります。しばらくお待ちください。
      %ul.flow
        %li 購入した後の流れ
  - elsif @trade.transaction_state_id == 4
    .abeshi-right-content.center
      .abeshi-right-content__box.middle-center
        %h2.bold 取引画面
      .abeshi-right-content__box.middle-center.back-yellow
        .center.padbot
          .trade_box.middle-center
            %i.fa.fa-check
            %p.font-red.bold 取引が完了しました
          %p この度はメルカリのご利用ありがとうございました
      %ul.flow
        %li 販売代金の受取について
