.abeshi-right-content.center
  .abeshi-right-content__box.middle-center
    %h2.bold.confirm-buy 購入を確定しますか?
  .abeshi-right-content__box
    .width-320.center.text-center
      = image_tag @item.images.first.image, alt: "avatar", class: "right-content__box--img marginT-8px;"
      %h4.abeshi-right-content__box--title.bold.marginT-8px
        = @item.name
      .abeshi-right-content__box--price.margin-30px
        %h1
          = converting_to_jpy(@item.price)
        .abeshi-right-content__box--price--postage 送料込み
      .link-bar.back-white.marginT-8px ポイントはありません
      .abeshi-right-content__box--payment.bold.margin-30px
        %h1 支払い金額
        %h1
          = converting_to_jpy(@item.price)
      = form_with(url: "/transaction/pay/#{@item.id}", action: :pay, method: :post) do
        %script.payjp-button{"data-key" => ENV["PAYJP_PUBLIC_KEY"], :src => "https://checkout.pay.jp", :type => "text/javascript"}


  .abeshi-right-content__box
    .width-320.center
      .abeshi-right-content__box__inner-address
        .bold 配送先
        .abeshi-right-content__box__inner-address--text
          / = converting_to_post_number(@address.post_number)
          〒111-1111
          %br
          / = @address.prefecture.prefecture
          奈良県
          / = @address.city
          大和高田市
          / = @address.address
          111
          %br
          = @user.first_name
          = @user.last_name
        .abeshi-right-content__box__inner-address--change
          = link_to "変更する＞", root_path
  .abeshi-right-content__box
    .width-320.center
      .abeshi-right-content__box__inner-address
        .bold 支払い方法
        .abeshi-right-content__box__inner-address--text
          - text = "************4242\n12/20"
          = simple_format text
          %img{src: "http://okane-hosoku.com/wp-content/uploads/2017/01/Unknown-2.jpeg", class: "visa_image"}
        .abeshi-right-content__box__inner-address--change
          = link_to "変更する＞", root_path
