- breadcrumb :mypage
.main-content
  = render 'modules/item-sidebar'
  - if @trade.transaction_state_id == 1
    .abeshi-right-content.center
      .abeshi-right-content__box.middle-center
        %h2.bold 取引画面
      .abeshi-right-content__box.middle-center.back-yellow
        .center.padbot
          .trade_box.middle-center
            %i.fa.fa-truck
            %p.font-red.bold らくらくメルカリ便で発送する
          %br
          %p 商品が購入され支払いされました。発送してください。らくらくメルカリ便では、
          %br
          %p コンビニへの持ち込み、ヤマト営業所への持ち込み、またはご自宅への集荷依頼を
          %br
          %p 選択できます。
      %ul.flow
        %li 商品が売れた後の流れ
        %li 出品者のよくある質問
        %li らくらくメルカリ便とは?
      .abeshi-right-content__box.middle-center.margin0
        = form_tag("/transaction/#{@item.id}", method: :post) do
          %input.submit{:type => "submit", :value => "コンビニから発送", :class => "post-btn bold"}/
      .abeshi-right-content__box.middle-center.margin0
        = form_tag("/transaction/#{@item.id}", method: :post) do
          %input.submit{:type => "submit", :value => "ヤマトの営業所へ持ち込んで発送", :class => "post-btn bold"}/
      .abeshi-right-content__box.middle-center.margin0
        = form_tag("/transaction/#{@item.id}", method: :post) do
          %input.submit{:type => "submit", :value => "ヤマトの集荷サービスを利用して発送", :class => "post-btn bold"}/
      .message-content__box
        .message-content__box__form.margin0
          %form.message-form{:method => "post"}
          %input{:type => "hidden"}
          %p.attention 取引メッセージの内容は、必要に応じて事務局で確認しています
          %input{:type => "hidden"}
          %input{:type => "hidden"}
          %textarea.text{:type => "text", :name => "body"}
          .message-sumit__details
            %button{:type => "submit", :class => "submit"}
              %span.font-white 取引メッセージを送る
  - elsif @trade.transaction_state_id == 2
    .abeshi-right-content.center
      .abeshi-right-content__box.middle-center
        %h2.bold 取引画面
      .abeshi-right-content__box.middle-center.back-yellow
        .center.padbot
          .trade_box.middle-center
            %i.fa.fa-check
            %p.font-red.bold 商品の発送を通知しました
          %p 商品の配送には平均で2〜4日かかります。購入者からの受取評価をお待ちください。
          %br
          %p 2019年1月5日 13:00までに購入者からの評価が行われず、購入者からの問い合わせがない場合は、
          %br
          %p 事務局で取引を完了します。
      %ul.flow
        %li 商品が売れた後の流れ
        %li 出品者のよくある質問
      .message-content__box
        .message-content__box__form.margin0
          %form.message-form{:method => "post"}
          %input{:type => "hidden"}
          %p.attention 取引メッセージの内容は、必要に応じて事務局で確認しています
          %input{:type => "hidden"}
          %input{:type => "hidden"}
          %textarea.text{:type => "text", :name => "body"}
          .message-sumit__details
            %button{:type => "submit", :class => "submit"}
              %span.font-white 取引メッセージを送る
  - elsif @trade.transaction_state_id == 3
    .abeshi-right-content.center
      .abeshi-right-content__box.middle-center
        %h2.bold 取引画面
      .abeshi-right-content__box.middle-center.back-yellow
        .center.padbot
          .trade_box.middle-center
            %i.fa.fa-check
            %p.font-red.bold 評価をしてください
          %p 購入者に商品が到着し評価がありました。
          %br
          %p 購入者の評価を行なって取引を完了してください。
          %br
          %p ※評価は取引が終わった後で見ることができます。
      %ul.flow
        %li 商品が売れた後の流れ
        %li 出品者のよくある質問
      .abeshi-right-content__box.middle-center.margin0
        = form_with model: @rate, url: "/rate/#{@item.id}", local: true do |form|
          .rating-box
            .rate-box
              = form.radio_button :rate, 1, class: "brand", id: 'good', checked: true
              %i.fas.fa-laugh.rate-face.good
              = form.label "良い", for: 'good'
            .rate-box
              = form.radio_button :rate, 2, class: "brand", id: 'normal', checked: true
              %i.fas.fa-meh.rate-face.normal
              = form.label '普通', for: 'normal'
            .rate-box
              = form.radio_button :rate, 3, class: "brand", id: 'bad', checked: true
              %i.fas.fa-frown.rate-face
              = form.label '悪い', for: 'bad'
          %p 評価のコメントを記入しましょう。
          = form.text_area :comment, class: "comment-box", placeholder: "コメントはなくても構いませんが、お礼のメッセージなどを書くと喜ばれます。"
          = form.submit "評価を投稿する", class: "rate-action bold"
  - elsif @trade.transaction_state_id == 4
    .abeshi-right-content.center
      .abeshi-right-content__box.middle-center
        %h2.bold 取引画面
      .abeshi-right-content__box.middle-center.back-yellow
        .center.padbot
          .trade_box.middle-center
            %i.fa.fa-check
            %p.font-red.bold 取引が完了しました
          %p この度はメルカリのご利用ありがとうございました
      %ul.flow
        %li 販売代金の受取について
