!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreemarketSample40a
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = yield
    = render 'modules/exhibit-buttun'
    .main-content
      = render 'modules/mypage-sidebar'
      .right-content
        .right-content__block#back-img
          = image_tag "avatar.jpg", alt: "avatar",class: "right-content__block--avatar"
          .right-content__block__user-name 阿部 寛
          .right-content__block__user-about
            %p.right-content__block__review 評価 90
            %p.right-content__block__exhibit 出品数 50点

        .right-content__block
          %ul.right-content__block__tabs.flex-row
            %li.active
              %a.middle-center
                お知らせ
            %li
              %a.middle-center
                やることリスト



          %ul.right-content__block__object
            %li
              %a.right-content__block__object__link-box.flex-row
                =image_tag "//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png", alt: "block-img",class: "right-content__block__object__link-box__img",width:"47.99px",height:"47.99px"
                .right-content__block__object__link-box__body
                  .right-content__block__object__link-box__body--text 7日後、クーポンの有効期限が切れます！タップして詳細を確認しましょう。
                  .right-content__block__object__link-box__body--time.flex-row
                    %i.fa.fa-history
                    .right-content__block__object__link-box__body--time--date 1日前
                %i.fa.fa-angle-right.fa-2x
            %li
              %a.right-content__block__object__link-box.flex-row
                =image_tag "//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png", alt: "block-img",class: "right-content__block__object__link-box__img",width:"47.99px",height:"47.99px"
                .right-content__block__object__link-box__body
                  .right-content__block__object__link-box__body--text 7日後、阿部寛が家に来ます。
                  .right-content__block__object__link-box__body--time.flex-row
                    %i.fa.fa-history
                    .right-content__block__object__link-box__body--time--date 10日前
                .arrow >
            %li
              %a.right-content__block__object__link-box.flex-row
                =image_tag "//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png", alt: "block-img",class: "right-content__block__object__link-box__img",width:"47.99px",height:"47.99px"
                .right-content__block__object__link-box__body
                  .right-content__block__object__link-box__body--text てめぇらの血は何色だァーーーーー！！
                  .right-content__block__object__link-box__body--time.flex-row
                    %i.fa.fa-history
                    .right-content__block__object__link-box__body--time--date 1日前
                .arrow >
            %li
              %a.right-content__block__object__link-box.flex-row
                =image_tag "//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png", alt: "block-img",class: "right-content__block__object__link-box__img",width:"47.99px",height:"47.99px"
                .right-content__block__object__link-box__body
                  .right-content__block__object__link-box__body--text 1234125125日後、宝くじがあたるといいな。
                  .right-content__block__object__link-box__body--time.flex-row
                    %i.fa.fa-history
                    .right-content__block__object__link-box__body--time--date 1日前
                .arrow >
            %li
              %a.right-content__block__object__link-box.flex-row
                =image_tag "//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png", alt: "block-img",class: "right-content__block__object__link-box__img",width:"47.99px",height:"47.99px"
                .right-content__block__object__link-box__body
                  .right-content__block__object__link-box__body--text twitterか
                  .right-content__block__object__link-box__body--time.flex-row
                    %i.fa.fa-history
                    .right-content__block__object__link-box__body--time--date 1日前
                .arrow >
            %li
              %a.right-content__block__object__link-box.flex-row
                .right-content__block__object__link-box--string.middle-center 一覧を見る


        .right-content__block
          %h2.right-content__block__title.middle 購入した商品
          %ul.right-content__block__tabs.flex-row
            %li.active
              %a.middle-center
                取引中
            %li
              %a.middle-center
                過去の取引



          %ul.right-content__block__object
            %li
              %a.right-content__block__object__link-box.flex-row
                =image_tag "avatar.jpg", alt: "item-img",class: "right-content__block__object__link-box__img",width:"47.99px",height:"47.99px"
                .right-content__block__object__link-box__body
                  .right-content__block__object__link-box__body--text 【新品・送料込み】阿部寛
                  .right-content__block__object__link-box__body__detail.flex-row
                    .right-content__block__object__link-box__body__detail--count-box.flex-row
                      %i.fa.fa-heart-o
                      .like-count 50
                    .right-content__block__object__link-box__body__detail--count-box.flex-row
                      %i.fa.fa-comment-o
                      .comment-count 1000
                    .status-blue 出品中
                .arrow >

            %li
              %a.right-content__block__object__link-box.flex-row
                =image_tag "avatar.jpg", alt: "item-img",class: "right-content__block__object__link-box__img",width:"47.99px",height:"47.99px"
                .right-content__block__object__link-box__body
                  .right-content__block__object__link-box__body--text 「阿部寛」を購入しました。取引が完了しました。
                  .status-gray 取引完了
                .arrow >

            %li
              %a.right-content__block__object__link-box.flex-row
                =image_tag "avatar.jpg", alt: "item-img",class: "right-content__block__object__link-box__img",width:"47.99px",height:"47.99px"
                .right-content__block__object__link-box__body
                  .right-content__block__object__link-box__body--text 【新品・送料込み】阿部寛
                  .right-content__block__object__link-box__body__detail.flex-row
                    .right-content__block__object__link-box__body__detail--count-box.flex-row
                      %i.fa.fa-heart-o
                      .like-count 50
                    .right-content__block__object__link-box__body__detail--count-box.flex-row
                      %i.fa.fa-comment-o
                      .comment-count 1000
                    .status-red 公開停止中
                .arrow >

            %li
              %a.right-content__block__object__link-box.flex-row
                .right-content__block__object__link-box__img
                  =image_tag "avatar.jpg", alt: "item-img",width:"47.99px",height:"47.99px"
                  .sold-item
                    .sold-item--text SOLD
                .right-content__block__object__link-box__body
                  .right-content__block__object__link-box__body--text 【新品・送料込み】阿部寛
                  .right-content__block__object__link-box__body__detail.flex-row ¥5,000
                .arrow >
    = render 'modules/footer'
